.button__primary {
  text-transform: uppercase;
  padding: 0.4rem 3rem;
  width: fit-content;
  margin: 1rem;
  font-family: var(--font-family-button);
  color: var(--color-gray);
  background-color: var(--color-primary);
  border: none;
  box-shadow: 3px 4px 0px var(--color-secondary);
  transition: all 0.3s;
}

.button__primary:hover {
  background-color: var(--color-secondary);
  box-shadow: 5px 6px 0px var(--color-primary);
  transition: all 0.3s;
}

.button__secondary {
  font-family: var(--font-family-button);
  text-transform: uppercase;
  padding: 0.3rem 2rem;
  width: fit-content;
  border: var(--border-button);
  border-radius: var(--border-button-radious);
  box-shadow: var(--box-shadow-button);
  transition: all ease-in-out 0.2s;
}

.button__secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-gray);
  box-shadow: none;
  transition: all ease-in-out 0.2s;
}
